html {
    --system-accent-color: rgba(0, 120, 215, 1);
    --system-accent-dark1-color: rgba(0, 90, 158, 1);
    --system-accent-dark2-color: rgba(0, 103, 192, 1);
    --system-accent-dark3-color: rgba(0, 38, 66, 1);
    --system-accent-light1-color: rgba(66, 156, 227, 1);
    --system-accent-light2-color: rgba(76, 194, 255, 1);
    --system-accent-light3-color: rgba(166, 216, 255, 1);
    --system-acrylic-window-backdrop-fallback-color: rgba(230, 230, 230, 1);
    --system-alt-high-color: rgba(255, 255, 255, 1);
    --system-alt-low-color: rgba(255, 255, 255, 0.2);
    --system-alt-medium-color: rgba(255, 255, 255, 0.6);
    --system-alt-medium-high-color: rgba(255, 255, 255, 0.8);
    --system-alt-medium-low-color: rgba(255, 255, 255, 0.4);
    --system-background-color: rgba(254, 254, 254, 1);
    --system-background-disabled-color: rgba(182, 182, 182, 1);
    --system-base-high-color: rgba(0, 0, 0, 1);
    --system-base-low-color: rgba(0, 0, 0, 0.2);
    --system-base-medium-color: rgba(0, 0, 0, 0.6);
    --system-base-medium-high-color: rgba(0, 0, 0, 0.8);
    --system-base-medium-low-color: rgba(0, 0, 0, 0.4);
    --system-border-color: rgba(204, 204, 204, 1);
    --system-chrome-alt-low-color: rgba(23, 23, 23, 1);
    --system-chrome-black-high-color: rgba(0, 0, 0, 1);
    --system-chrome-black-low-color: rgba(0, 0, 0, 0.2);
    --system-chrome-black-medium-color: rgba(0, 0, 0, 0.8);
    --system-chrome-black-medium-low-color: rgba(0, 0, 0, 0.4);
    --system-chrome-disabled-high-color: rgba(204, 204, 204, 1);
    --system-chrome-disabled-low-color: rgba(122, 122, 122, 1);
    --system-chrome-high-color: rgba(204, 204, 204, 1);
    --system-chrome-low-color: rgba(242, 242, 242, 1);
    --system-chrome-low-low-color: rgba(246, 246, 246, 1);
    --system-chrome-medium-color: rgba(230, 230, 230, 1);
    --system-chrome-medium-low-color: rgba(242, 242, 242, 1);
    --system-acrylic-chrome-medium-low-color: rgba(242, 242, 242, 0.8);
    --system-chrome-taskbar-acrylic-color: rgba(238, 238, 238, 0.854902);
    --system-chrome-taskbar-base-color: rgba(238, 238, 238, 1);
    --system-chrome-taskbar-glom-divider-color: rgba(0, 0, 0, 0.07843138);
    --system-chrome-white-color: rgba(255, 255, 255, 1);
    --system-list-accent-high-color: rgba(255, 96, 219, 0.6980392);
    --system-list-accent-low-color: rgba(255, 96, 219, 0.4);
    --system-list-accent-medium-color: rgba(255, 96, 219, 0.6);
    --system-list-low-color: rgba(0, 0, 0, 0.09803922);
    --system-list-medium-color: rgba(0, 0, 0, 0.2);
    --system-danger-color: #dc3545;
    --system-danger-light2-color: #e46773;
    --system-warning-color: #ffc107;
    --system-warning-background-color: #ffc10740;
    --system-warning-light2-color: #ffd044;
}

html {
    --text-on-accent-fill-color-selected-text-brush: rgba(255, 255, 255, 1);
    --text-on-accent-fill-color-secondary-brush: rgba(255, 255, 255, 0.7);
    --text-on-accent-fill-color-primary-brush: rgba(255, 255, 255, 1);
    --text-on-accent-fill-color-disabled-brush: rgba(255, 255, 255, 1);
    --text-fill-color-tertiary-brush: rgba(0, 0, 0, 0.45);
    --text-fill-color-secondary-brush: rgba(0, 0, 0, 0.62);
    --text-fill-color-primary-brush: rgba(0, 0, 0, 0.89);
    --text-fill-color-inverse-brush: rgba(255, 255, 255, 1);
    --text-fill-color-disabled-brush: rgba(0, 0, 0, 0.36);
    --system-fill-color-success-brush: rgba(15, 123, 15, 1);
    --system-fill-color-success-background-brush: rgba(223, 246, 221, 1);
    --system-fill-color-solid-neutral-brush: rgba(138, 138, 138, 1);
    --system-fill-color-solid-neutral-background-brush: rgba(243, 243, 243, 1);
    --system-fill-color-solid-attention-background-brush: rgba(247, 247, 247, 1);
    --system-fill-color-neutral-brush: rgba(0, 0, 0, 0.45);
    --system-fill-color-neutral-background-brush: rgba(0, 0, 0, 0.02);
    --system-fill-color-critical-brush: rgba(196, 43, 28, 1);
    --system-fill-color-critical-background-brush: rgba(253, 231, 233, 1);
    --system-fill-color-caution-brush: rgba(157, 93, 0, 1);
    --system-fill-color-caution-background-brush: rgba(255, 244, 206, 1);
    --system-fill-color-attention-brush: rgba(0, 120, 212, 1);
    --system-fill-color-attention-background-brush: rgba(246, 246, 246, 0.5);
    --system-color-window-text-color-brush: rgba(255, 0, 255, 1);
    --system-color-window-color-brush: rgba(255, 0, 255, 1);
    --system-color-hotlight-color-brush: rgba(255, 0, 255, 1);
    --system-color-highlight-text-color-brush: rgba(255, 0, 255, 1);
    --system-color-highlight-color-brush: rgba(255, 0, 255, 1);
    --system-color-gray-text-color-brush: rgba(255, 0, 255, 1);
    --system-color-button-text-color-brush: rgba(255, 0, 255, 1);
    --system-color-button-face-color-brush: rgba(255, 0, 255, 1);
    --surface-stroke-color-inverse-brush: rgba(255, 255, 255, 0.08);
    --surface-stroke-color-flyout-brush: rgba(0, 0, 0, 0.06);
    --surface-stroke-color-default-brush: rgba(117, 117, 117, 0.4);
    --subtle-fill-color-transparent-brush: rgba(255, 255, 255, 0);
    --subtle-fill-color-tertiary-brush: rgba(0, 0, 0, 0.02);
    --subtle-fill-color-secondary-brush: rgba(0, 0, 0, 0.04);
    --subtle-fill-color-disabled-brush: rgba(255, 255, 255, 0);
    --solid-background-fill-color-tertiary-brush: rgba(249, 249, 249, 1);
    --solid-background-fill-color-secondary-brush: rgba(238, 238, 238, 1);
    --solid-background-fill-color-quarternary-brush: rgba(255, 255, 255, 1);
    --solid-background-fill-color-base-brush: rgba(243, 243, 243, 1);
    --smoke-fill-color-default-brush: rgba(0, 0, 0, 0.3);
    --layer-on-acrylic-fill-color-default-brush: rgba(255, 255, 255, 0.25);
    --layer-on-accent-acrylic-fill-color-default-brush: rgba(255, 255, 255, 0.25);
    --layer-fill-color-default-brush: rgba(255, 255, 255, 0.5);
    --layer-fill-color-alt-brush: rgba(255, 255, 255, 1);
    --focus-stroke-color-outer-brush: rgba(0, 0, 0, 0.89);
    --focus-stroke-color-inner-brush: rgba(255, 255, 255, 0.7);
    --divider-stroke-color-default-brush: rgba(0, 0, 0, 0.06);
    --control-strong-stroke-color-disabled-brush: rgba(0, 0, 0, 0.22);
    --control-strong-stroke-color-default-brush: rgba(0, 0, 0, 0.45);
    --control-strong-fill-color-disabled-brush: rgba(0, 0, 0, 0.32);
    --control-strong-fill-color-default-brush: rgba(0, 0, 0, 0.45);
    --control-stroke-color-secondary-brush: rgba(0, 0, 0, 0.16);
    --control-stroke-color-on-accent-tertiary-brush: rgba(0, 0, 0, 0.22);
    --control-stroke-color-on-accent-secondary-brush: rgba(0, 0, 0, 0.4);
    --control-stroke-color-on-accent-disabled-brush: rgba(0, 0, 0, 0.06);
    --control-stroke-color-on-accent-default-brush: rgba(255, 255, 255, 0.08);
    --control-stroke-color-for-strong-fill-when-on-image-brush: rgba(255, 255, 255, 0.35);
    --control-stroke-color-default-brush: rgba(0, 0, 0, 0.06);
    --control-solid-fill-color-default-brush: rgba(255, 255, 255, 1);
    --control-on-image-fill-color-tertiary-brush: rgba(235, 235, 235, 1);
    --control-on-image-fill-color-secondary-brush: rgba(243, 243, 243, 1);
    --control-on-image-fill-color-disabled-brush: rgba(255, 255, 255, 0);
    --control-on-image-fill-color-default-brush: rgba(255, 255, 255, 0.79);
    --control-fill-color-transparent-brush: rgba(255, 255, 255, 0);
    --control-fill-color-tertiary-brush: rgba(249, 249, 249, 0.3);
    --control-fill-color-secondary-brush: rgba(249, 249, 249, 0.5);
    --control-fill-color-input-active-brush: rgba(255, 255, 255, 1);
    --control-fill-color-disabled-brush: rgba(249, 249, 249, 0.3);
    --control-fill-color-default-brush: rgba(255, 255, 255, 0.7);
    --control-alt-fill-color-transparent-brush: rgba(255, 255, 255, 0);
    --control-alt-fill-color-tertiary-brush: rgba(0, 0, 0, 0.06);
    --control-alt-fill-color-secondary-brush: rgba(0, 0, 0, 0.02);
    --control-alt-fill-color-quarternary-brush: rgba(0, 0, 0, 0.09);
    --control-alt-fill-color-disabled-brush: rgba(255, 255, 255, 0);
    --card-stroke-color-default-solid-brush: rgba(235, 235, 235, 1);
    --card-stroke-color-default-brush: rgba(0, 0, 0, 0.06);
    --card-background-fill-color-secondary-brush: rgba(246, 246, 246, 0.5);
    --card-background-fill-color-default-brush: rgba(255, 255, 255, 0.7);
    --accent-text-fill-color-tertiary-brush: rgba(0, 103, 192, 1);
    --accent-text-fill-color-secondary-brush: rgba(0, 26, 104, 1);
    --accent-text-fill-color-primary-brush: rgba(0, 62, 146, 1);
    --accent-text-fill-color-disabled-brush: rgba(0, 0, 0, 0.36);
    --accent-fill-color-tertiary-brush: rgba(0, 103, 192, 0.8);
    --accent-fill-color-selected-text-background-brush: rgba(0, 120, 212, 1);
    --accent-fill-color-secondary-brush: rgba(0, 103, 192, 0.9);
    --accent-fill-color-disabled-brush: rgba(0, 0, 0, 0.22);
    --accent-fill-color-default-brush: rgba(0, 103, 192, 1);

    --control-fill-color-default-solid-brush: #fbfbfb;
    --control-fill-color-pointer-over-solid-brush: #f6f6f6;
    --control-fill-color-active-solid-brush: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
    html {
        --system-error-text-color: #c50500;
        --system-acrylic-window-backdrop-fallback-color: rgba(50, 50, 50, 1);
        --system-alt-high-color: rgba(0, 0, 0, 1);
        --system-alt-low-color: rgba(0, 0, 0, 0.2);
        --system-alt-medium-color: rgba(0, 0, 0, 0.6);
        --system-alt-medium-high-color: rgba(0, 0, 0, 0.8);
        --system-alt-medium-low-color: rgba(0, 0, 0, 0.4);
        --system-base-high-color: rgba(255, 255, 255, 1);
        --system-base-low-color: rgba(255, 255, 255, 0.2);
        --system-base-medium-color: rgba(255, 255, 255, 0.6);
        --system-base-medium-high-color: rgba(255, 255, 255, 0.8);
        --system-base-medium-low-color: rgba(255, 255, 255, 0.4);
        --system-chrome-alt-low-color: rgba(242, 242, 242, 1);
        --system-chrome-black-high-color: rgba(0, 0, 0, 1);
        --system-chrome-black-low-color: rgba(0, 0, 0, 0.2);
        --system-chrome-black-medium-color: rgba(0, 0, 0, 0.8);
        --system-chrome-black-medium-low-color: rgba(0, 0, 0, 0.4);
        --system-chrome-disabled-high-color: rgba(51, 51, 51, 1);
        --system-chrome-disabled-low-color: rgba(133, 133, 133, 1);
        --system-chrome-high-color: rgba(118, 118, 118, 1);
        --system-chrome-low-color: rgba(23, 23, 23, 1);
        --system-chrome-low-low-color: rgba(31, 31, 31, 1);
        --system-chrome-medium-color: rgba(31, 31, 31, 1);
        --system-chrome-medium-low-color: rgba(43, 43, 43, 1);
        --system-acrylic-chrome-medium-low-color: rgba(43, 43, 43, 0.8);
        --system-chrome-taskbar-acrylic-color: rgba(0, 0, 0, 1);
        --system-chrome-taskbar-base-color: rgba(16, 16, 16, 1);
        --system-chrome-white-color: rgba(255, 255, 255, 1);
        --system-list-accent-high-color: rgba(255, 96, 219, 0.8980392);
        --system-list-accent-low-color: rgba(255, 96, 219, 0.6);
        --system-list-accent-medium-color: rgba(255, 96, 219, 0.8);
        --system-list-low-color: rgba(255, 255, 255, 0.09803922);
        --system-list-medium-color: rgba(255, 255, 255, 0.2);
    }

    html {
        --text-on-accent-fill-color-selected-text-brush: rgba(255, 255, 255, 1);
        --text-on-accent-fill-color-secondary-brush: rgba(0, 0, 0, 0.5);
        --text-on-accent-fill-color-primary-brush: rgba(0, 0, 0, 1);
        --text-on-accent-fill-color-disabled-brush: rgba(255, 255, 255, 0.53);
        --text-fill-color-tertiary-brush: rgba(255, 255, 255, 0.53);
        --text-fill-color-secondary-brush: rgba(255, 255, 255, 0.77);
        --text-fill-color-primary-brush: rgba(255, 255, 255, 1);
        --text-fill-color-inverse-brush: rgba(0, 0, 0, 0.89);
        --text-fill-color-disabled-brush: rgba(255, 255, 255, 0.36);
        --system-fill-color-success-brush: rgba(108, 203, 95, 1);
        --system-fill-color-success-background-brush: rgba(57, 61, 27, 1);
        --system-fill-color-solid-neutral-brush: rgba(157, 157, 157, 1);
        --system-fill-color-solid-neutral-background-brush: rgba(46, 46, 46, 1);
        --system-fill-color-solid-attention-background-brush: rgba(46, 46, 46, 1);
        --system-fill-color-neutral-brush: rgba(255, 255, 255, 0.55);
        --system-fill-color-neutral-background-brush: rgba(255, 255, 255, 0.03);
        --system-fill-color-critical-brush: rgba(255, 153, 164, 1);
        --system-fill-color-critical-background-brush: rgba(68, 39, 38, 1);
        --system-fill-color-caution-brush: rgba(252, 225, 0, 1);
        --system-fill-color-caution-background-brush: rgba(67, 53, 25, 1);
        --system-fill-color-attention-brush: rgba(76, 194, 255, 1);
        --system-fill-color-attention-background-brush: rgba(255, 255, 255, 0.03);
        --system-color-window-text-color-brush: rgba(255, 0, 255, 1);
        --system-color-window-color-brush: rgba(255, 0, 255, 1);
        --system-color-hotlight-color-brush: rgba(255, 0, 255, 1);
        --system-color-highlight-text-color-brush: rgba(255, 0, 255, 1);
        --system-color-highlight-color-brush: rgba(255, 0, 255, 1);
        --system-color-gray-text-color-brush: rgba(255, 0, 255, 1);
        --system-color-button-text-color-brush: rgba(255, 0, 255, 1);
        --system-color-button-face-color-brush: rgba(255, 0, 255, 1);
        --surface-stroke-color-inverse-brush: rgba(0, 0, 0, 0.06);
        --surface-stroke-color-flyout-brush: rgba(0, 0, 0, 0.2);
        --surface-stroke-color-default-brush: rgba(117, 117, 117, 0.4);
        --subtle-fill-color-transparent-brush: rgba(255, 255, 255, 0);
        --subtle-fill-color-tertiary-brush: rgba(255, 255, 255, 0.04);
        --subtle-fill-color-secondary-brush: rgba(255, 255, 255, 0.06);
        --subtle-fill-color-disabled-brush: rgba(255, 255, 255, 0);
        --solid-background-fill-color-tertiary-brush: rgba(40, 40, 40, 1);
        --solid-background-fill-color-secondary-brush: rgba(28, 28, 28, 1);
        --solid-background-fill-color-quarternary-brush: rgba(44, 44, 44, 1);
        --solid-background-fill-color-base-brush: rgba(32, 32, 32, 1);
        --smoke-fill-color-default-brush: rgba(0, 0, 0, 0.3);
        --layer-on-acrylic-fill-color-default-brush: rgba(255, 255, 255, 0.04);
        --layer-on-accent-acrylic-fill-color-default-brush: rgba(255, 255, 255, 0.04);
        --layer-fill-color-default-brush: rgba(58, 58, 58, 0.3);
        --layer-fill-color-alt-brush: rgba(255, 255, 255, 0.05);
        --focus-stroke-color-outer-brush: rgba(255, 255, 255, 1);
        --focus-stroke-color-inner-brush: rgba(0, 0, 0, 0.7);
        --divider-stroke-color-default-brush: rgba(255, 255, 255, 0.08);
        --control-strong-stroke-color-disabled-brush: rgba(255, 255, 255, 0.16);
        --control-strong-stroke-color-default-brush: rgba(255, 255, 255, 0.55);
        --control-strong-fill-color-disabled-brush: rgba(255, 255, 255, 0.25);
        --control-strong-fill-color-default-brush: rgba(255, 255, 255, 0.55);
        --control-stroke-color-secondary-brush: rgba(255, 255, 255, 0.09);
        --control-stroke-color-on-accent-tertiary-brush: rgba(0, 0, 0, 0.22);
        --control-stroke-color-on-accent-secondary-brush: rgba(0, 0, 0, 0.14);
        --control-stroke-color-on-accent-disabled-brush: rgba(0, 0, 0, 0.2);
        --control-stroke-color-on-accent-default-brush: rgba(255, 255, 255, 0.08);
        --control-stroke-color-for-strong-fill-when-on-image-brush: rgba(0, 0, 0, 0.42);
        --control-stroke-color-default-brush: rgba(255, 255, 255, 0.07);
        --control-solid-fill-color-default-brush: rgba(69, 69, 69, 1);
        --control-on-image-fill-color-tertiary-brush: rgba(19, 19, 19, 1);
        --control-on-image-fill-color-secondary-brush: rgba(26, 26, 26, 1);
        --control-on-image-fill-color-disabled-brush: rgba(30, 30, 30, 1);
        --control-on-image-fill-color-default-brush: rgba(28, 28, 28, 0.7);
        --control-fill-color-transparent-brush: rgba(255, 255, 255, 0);
        --control-fill-color-tertiary-brush: rgba(255, 255, 255, 0.03);
        --control-fill-color-secondary-brush: rgba(255, 255, 255, 0.08);
        --control-fill-color-input-active-brush: rgba(30, 30, 30, 0.7);
        --control-fill-color-disabled-brush: rgba(255, 255, 255, 0.04);
        --control-fill-color-default-brush: rgba(255, 255, 255, 0.06);
        --control-alt-fill-color-transparent-brush: rgba(255, 255, 255, 0);
        --control-alt-fill-color-tertiary-brush: rgba(255, 255, 255, 0.04);
        --control-alt-fill-color-secondary-brush: rgba(0, 0, 0, 0.1);
        --control-alt-fill-color-quarternary-brush: rgba(255, 255, 255, 0.07);
        --control-alt-fill-color-disabled-brush: rgba(255, 255, 255, 0);
        --card-stroke-color-default-solid-brush: rgba(28, 28, 28, 1);
        --card-stroke-color-default-brush: rgba(0, 0, 0, 0.1);
        --card-background-fill-color-secondary-brush: rgba(255, 255, 255, 0.03);
        --card-background-fill-color-default-brush: rgba(255, 255, 255, 0.05);
        --accent-text-fill-color-tertiary-brush: rgba(76, 194, 255, 1);
        --accent-text-fill-color-secondary-brush: rgba(153, 235, 255, 1);
        --accent-text-fill-color-primary-brush: rgba(153, 235, 255, 1);
        --accent-text-fill-color-disabled-brush: rgba(255, 255, 255, 0.36);
        --accent-fill-color-tertiary-brush: rgba(76, 194, 255, 0.8);
        --accent-fill-color-selected-text-background-brush: rgba(0, 120, 212, 1);
        --accent-fill-color-secondary-brush: rgba(76, 194, 255, 0.9);
        --accent-fill-color-disabled-brush: rgba(255, 255, 255, 0.16);
        --accent-fill-color-default-brush: rgba(76, 194, 255, 1);

        --control-fill-color-default-solid-brush: #2d2d2d;
        --control-fill-color-pointer-over-solid-brush: #313131;
        --control-fill-color-active-solid-brush: #1F1F1F;
    }
}

body {
    color: var(--text-fill-color-primary-brush);
    background: var(--solid-background-fill-color-base-brush);
}
