.config-root {
    width: 100vw;
    height: 100vh;
    color: var(--text-fill-color-primary-brush);
    background: var(--solid-background-fill-color-base-brush);
    position: absolute;
    overflow-y: auto;
    display: flex;
    transition: background ease-out 0.1s, color ease-out 0.1s;
}

.config-warning {
    border: 1px solid var(--system-fill-color-caution-brush);
    border-radius: 8px;
    background-color: var(--system-fill-color-caution-background-brush);
    padding: 8px 12px;
    margin: 0.8em 0 0 0;
    transition: background ease-out 0.1s, border ease-out 0.1s;
}

.config-error {
    border: 1px solid var(--system-fill-color-critical-brush);
    border-radius: 8px;
    background-color: var(--system-fill-color-critical-background-brush);
    padding: 8px 12px;
    margin: 0.8em 0 0 0;
    transition: background ease-out 0.1s, border ease-out 0.1s;
}

.config-pane .config-error a {
    color: var(--system-fill-color-critical-brush);
}

.config-pane {
    flex: 1;
}

.config-main {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 14px;
}

a {
    color: var(--accent-text-fill-color-primary-brush);
    transition: color ease-out 0.1s;
    text-decoration: none;
}

.config-pane p {
    font-size: 10.5pt;
    line-height: 20px;
    margin: 0;
}

.config-pane h1 {
    font-weight: 200;
    font-size: 46px;
    line-height: 56px;
    margin: 0;
}

.config-pane h4 {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin: 0;
}

.config-input {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1em;
    overflow-y: auto;
    -webkit-overflow-scrolling: smooth;
}

.config-footer {
    display: flex;
    flex-direction: column;
    padding: 1em;
    background: var(--subtle-fill-color-secondary-brush);
    border-top: 1px solid var(--divider-stroke-color-default-brush);
}

.config-example {
    flex: 2;
    background-image: url(images/starlight-carnival-1.jpg);
    background-position: center;
    background-size: cover;
}

.config-example>.chat-container {
    -webkit-backdrop-filter: blur(64px) saturate(125%);
    backdrop-filter: blur(64px) saturate(125%);
}

.config-input-text {
    display: flex;
    flex: 1;
    margin-top: 8px;
    padding-bottom: 5px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;
    border: none;
    border-bottom: 2px solid var(--subtle-fill-color-secondary-brush);
    border-radius: 4px;
    font-size: 14px;
    transition: background ease-out 0.1s, border ease-out 0.1s, border-color 0.1s ease-out;
    color: var(--system-base-high-color);
    background-color: var(--control-fill-color-default-brush);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 0 1.2px 2.4px 0 rgba(0, 0, 0, 0.132), 0 0.6px 1.2px 0 rgba(0, 0, 0, 0.108);
    font-family: inherit;
}

textarea.config-input-text {
    resize: none;
    min-height: 100px;
    max-height: 300px;
}

.config-input-text:hover {
    background-color: var(--control-fill-color-secondary-brush);
    border-bottom: 2px solid var(--accent-fill-color-default-brush);
}

.config-input-text:focus {
    outline: none;
    background-color: var(--control-fill-color-input-active-brush);
    border-bottom: 2px solid var(--accent-fill-color-default-brush);
}

.chat-frame {
    width: 100%;
    height: 100%;
    border: none;
}

.form-group {
    margin-top: .8em;
    display: flex;
    flex-wrap: wrap;
}

.form-group-header {
    margin: 1em 0.1em -0.5em 0.1em !important;
}

.form-group>* {
    margin-top: .2em;
    margin-left: .25em;
    margin-right: .25em;
}

.form-group-label {
    margin-left: .33em;
    margin-right: .33em;
    margin-top: .8em;
    margin-bottom: -.6em;
}

.form-label {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-end;
}

input[type="color"] {
    -webkit-appearance: none;
    border: none;
    border-color: transparent;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
    border-color: transparent;
    border-radius: 4px;
    padding: 0;
    width: 100%;
    height: 100%;
}

input[type="color"].config-input-text {
    width: 100%;
    padding: 0;
    height: 31px;
    box-sizing: border-box;
}

select.config-input-text {
    padding-bottom: 4px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
}

.config-input-number {}

.checkbox {
    display: flex;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    align-items: center;
    margin-top: 0.5rem;
    margin-right: 1em;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    font-family: "Segoe MDL2 Assets";
    font-size: 18px;
    height: 18px;
    width: 18px;
    margin-right: 8px;
    border-radius: 2px;
    border: 1px solid var(--control-strong-stroke-color-default-brush);
    background-color: var(--control-alt-fill-color-secondary-brush);
    transition: background ease-out 0.066s;
    color: transparent;
}


/* checked */

.checkbox input:checked~.checkmark {
    border: 1px solid var(--accent-fill-color-default-brush);
    background-color: var(--accent-fill-color-default-brush);
    color: var(--text-on-accent-fill-color-primary-brush)
}


/* unchecked pointer over */

.checkbox:hover input~.checkmark {
    border: 1px solid var(--control-strong-stroke-color-default-brush);
    background-color: var(--control-alt-fill-color-tertiary-brush);
}


/* unchecked pointer pressed */

.checkbox input:active~.checkmark {
    border: 1px solid var(--control-strong-stroke-color-disabled-brush);
    background-color: var(--control-alt-fill-color-quarternary-brush);
    color: transparent;
}


/* checked pointer over */

.checkbox:hover input:checked~.checkmark {
    border: 1px solid var(--accent-fill-color-secondary-brush);
    background-color: var(--accent-fill-color-secondary-brush);
}


/* checked pointer pressed */

.checkbox input:active:checked~.checkmark {
    border: 1px solid var(--accent-fill-color-tertiary-brush);
    background-color: var(--accent-fill-color-tertiary-brush);
    color: rgba(255, 255, 255, 1);
}

.checkmark::after {
    content: "\E73E";
}

input[type="range"] {
    margin-top: 8px;
    height: 31px;
}

input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
}

@media only screen and (max-width: 1120px) {
    .config-example {
        flex: 1;
    }
}

@media only screen and (max-width: 768px) {
    .config-pane {
        overflow-y: hidden;
    }
    .config-example {
        display: none;
    }
}

.form-group-font {
    display: flex;
    flex-direction: row;
}

.form-group-font-label {
    flex: 1;
}

.form-group-font-help {
    text-align: right;
    appearance: none;
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
    color: var(--accent-fill-color-default-brush);
    cursor: pointer;
}

.btn {
    background: var(--system-base-low-color);
    border: 1px solid var(--system-base-low-color);
    color: var(--system-base-high-color);
    font-size: 10.5pt;
    border-radius: 4px;
    padding: 6px 11px 5px 11px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    outline: none;
    transition: background 0.15s ease-in-out, border-color 0.15s ease-in-out;
    font-family: inherit;
}

.btn:hover {
    color: var(--system-base-high-color);
    border-color: var(--system-base-medium-low-color);
    outline: none;
}

.btn:active {
    color: var(--system-base-high-color);
    background: var(--system-base-medium-low-color);
    outline: none;
    border-color: transparent;
}

.btn-accent {
    background: var(--accent-fill-color-default-brush);
    border: 1px solid var(--accent-fill-color-default-brush);
    color: var(--text-on-accent-fill-color-primary-brush);
}

.btn-accent:hover {
    background: var(--accent-fill-color-secondary-brush);
    border: 1px solid var(--accent-fill-color-secondary-brush);
    color: var(--text-on-accent-fill-color-primary-brush);
    outline: none;
}

.btn-accent:active {
    background: var(--accent-fill-color-tertiary-brush);
    border: 1px solid var(--control-fill-color-transparent-brush);
    color: var(--text-on-accent-fill-color-secondary-brush);
    outline: none;
}